body *{
  box-sizing: border-box;
  /* border: 1px black solid; */
}

/* body{
  margin-left: auto;
  margin-right: auto;
} */

main{
  margin: auto;
  justify-content: center;
}

header{
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px black solid;
}

header h1{
  font-size: 35px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

header h2{
  font-size: 28px;
}

header button{
  padding: 5px;
  margin: 10px;
}

header label{
  margin: 10px;
}

section header{
  flex-direction: row;
  justify-content: space-between;
}

button:hover{
  cursor: pointer;
}

section button{
  margin:0;
}

input, textarea, button, select{
  border: 1px solid black;
}

.container{
  display: flex;
}

.add-btn{
  padding: 10px;
}

.bm-submit{
  margin: 5px;
  padding: 10px;
  justify-content: center;
}

.cards{
  flex-direction: column;
}

.bookmark-card{
  border: 1px black solid;
  flex-wrap: wrap;
  margin: 5px 0;
}

.bookmark-card:hover{
  background-color: lightgray;
  cursor: pointer;
}

.bookmark-card header{
  padding: 5px;
}

.bookmark-card article{
  margin: 5px;
}

.bookmark-card a{
  margin: 0 5px 5px;
}

.selected-btns{
  margin: 5px;
}

#add-bookmark-form{
  flex-direction: column;
  margin: 10px 0;
  border: 1px solid black;
}

#add-bookmark-form div{
  margin: 5px;
}

@media only screen and (min-width: 700px){
  main {
    max-width: 1000px;
  }

  .bookmark-card{
    width: 300px;
  }

  .cards{
    margin: 0 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bookmark-card{
    margin: 10px;
    align-self: flex-start;
  }


}
